<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="BP" />
    <meta
      name="description"
      content="Compacta Consult é uma empresa que atua na prestação de serviços de sistemas e suporte."
    />
    <meta name="keywords" content="Consult" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Portuguese" />

    <link rel="icon" type="image/png" href="" sizes="196x196" />
    <link rel="icon" type="image/png" href="" sizes="96x96" />
    <link rel="icon" type="image/png" href="" sizes="32x32" />
    <link
      rel="icon"
      type="image/png"
      href="src/images/icons/logo"
      sizes="16x16"
    />

    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#" />
    <meta name="theme-color" content="#000#000" />
    <title>Compacta Consult</title>
    <link rel="stylesheet" href="../css/stylesForm.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header id="header">
      <a href="../../index.html"><p>Compacta Consult</p></a>
    </header>
    <main id="home">
      <form action="https://api.staticforms.xyz/submit" method="POST">
        <input
          type="hidden"
          name="accessKey"
          value="41879933-7e5f-4df3-a127-a5288c318fbe"
        />
        <input
          type="hidden"
          name="redirectTo"
          value="https://coruscating-bubblegum-eb6d0a.netlify.app/index.html"
        />

        <h1>Entre em Contato !</h1>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input
            type="text"
            id="form4Example1"
            name="name"
            class="form-control"
            required
            maxlength="25"
            minlength="2"
          />
          <label class="form-label" for="form4Example1">Seu Nome</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email"
            id="form4Example2"
            name="email"
            class="form-control"
            required
            maxlength="35"
          />
          <label class="form-label" for="form4Example2">Seu Email</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea
            class="form-control"
            id="form4Example3"
            name="message"
            rows="4"
            required
            maxlength="150"
          ></textarea>
          <label class="form-label" for="form4Example3"
            >Escreva sua mensagem aqui !</label
          >
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">
          Enviar
        </button>
      </form>
    </main>

    <footer>
      <small>© 2022 - Compacta Consult. Todos os direitos reservados.</small>
      <div id="links">
        <a href="#home">Voltar ao topo</a>
      </div>
    </footer>
    <script src="../js/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-208667854-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-208667854-1");
    </script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
