<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="BP" />
    <meta
      name="description"
      content="Compacta Consult é uma empresa que atua na prestação de serviços de sistemas e suporte."
    />
    <meta name="keywords" content="Consult" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="Portuguese" />

    <link rel="icon" type="image/png" href="" sizes="196x196" />
    <link rel="icon" type="image/png" href="" sizes="96x96" />
    <link rel="icon" type="image/png" href="" sizes="32x32" />
    <link
      rel="icon"
      type="image/png"
      href="src/images/icons/logo_cc.png"
      sizes="16x16"
    />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#" />
    <meta name="theme-color" content="#000#000" />
    <title>Compacta Consult</title>
    <link rel="stylesheet" href="stylesForm.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header id="header">
      <a href="../../index.html"><img class="logo" src="../images/logo.png" alt="" /></a>
      <h1>ATENDIMENTO AO CLIENTE</h1>
    </header>
    <main id="home">
      <div id="text">
        <h2>Insira seus dados abaixo !</h2>
      </div>
      <form id="form" action="https://api.staticforms.xyz/submit" method="POST">
        <input
          class="input"
          type="hidden"
          name="accessKey"
          value="fd69a8b9-7937-49af-8e65-3608609dd1a1"
        />
        <input type="hidden" name="redirectTo" value="https://dreamy-sundae-05f523.netlify.app/src/view/index.html" />

        <h1>SUPORTE :</h1>
        <!-- Name input -->
        <div class="form-outline">
          <input
            type="text"
            id="form4Example1"
            name="name"
            class="form-control"
            required
            maxlength="25"
            minlength="2"
          />
          <label class="form-label" for="form4Example1">Seu Nome</label>
        </div>

        <!-- Empresa input -->
        <div class="form-outline">
          <input
            type="text"
            id="form4Example1"
            name="name"
            class="form-control"
            required
            maxlength="30"
            minlength="2"
          />
          <label class="form-label" for="form4Example1">Sua Empresa</label>
        </div>

        <!-- Tel input -->
        <div class="form-outline">
          <input
            type="tel"
            id="form4Example1"
            name="phone"
            class="form-control"
            required
            maxlength="15"
          />
          <label class="form-label" for="form4Example1"
            >Telefone/Whatsapp</label
          >
        </div>

        <!-- Email input -->
        <div class="form-outline">
          <input
            type="email"
            id="form4Example2"
            name="email"
            class="form-control"
            required
            maxlength="30"
          />
          <label class="form-label" for="form4Example2">Seu Email</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-3">
          <textarea
            class="form-control"
            id="form4Example3"
            name="message"
            rows="4"
            required
            maxlength="200"
          ></textarea>
          <label class="form-label" for="form4Example3"
            >Escreva seu problema acima, retornaremos em breve seu email.</label
          >
          <br>
          <label class="form-label" for="form4Example3"></label>Ou entre em contato pelo whatsapp.</label
          >
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Enviar</button>

        <!-- Button whatsapp -->
        <button id="btn2" class="btn btn-success">
          <a
            href="https://api.whatsapp.com/send?phone=55556198733411&text=Problema%20T%C3%A9cnico%20Preciso%20de%20Suporte%20!"
            target="_blank"
            >Whatsapp</a
          >
        </button>
      </form>
    </main>
    <section id="budget">
      <div id="suporte">
        <h2>ACESSE NOSSO CURSO</h2>
      </div>
      <div>
        <a class="btn" href="https://drive.google.com/drive/folders/18YXtRCJhJRw6wppCx2AGQ4NQE7pVHlAc?usp=sharing" target="_blank">Clique aqui</a>
      </div>
      <small>© 2022 - Compacta Consult. Todos os direitos reservados.</small>
    </section>
    <script src="src/js/script.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-208667854-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-208667854-1");
    </script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="src/js/cookies.js"></script>
  </body>
</html>
