@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text: rgb(65, 65, 65);
  --text-black-medium: rgb(85, 85, 85);
  --text-black-light: rgb(116, 116, 116);
  --text-gray: #666666;
  --padding-left-right: 4rem;
  --padding-left-rigt-mobile: 1rem;
}
body,
html {
  position: relative;

  min-height: 100vh;
  scroll-padding-top: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
p {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

#header {
  background: #000d36;
  width: 100%;
  min-height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
}

#header a {
  text-decoration: none;
}

#header a,p:hover {
  color: #02fff2;
}

#header h1 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding: 7px;
  border: solid ;
  border-color: #ff0000;
  border-radius: 11px;
}

main {
  background-image: url(https://cdn2.hubspot.net/hubfs/2973708/Blog%20de%20Sistemas%20de%20Informa%C3%A7%C3%A3o/curso-de-sistemas-de-informacao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

input:focus, textarea:focus{
  border-color: #02fff2 !important;
}

input:invalid, textarea:invalid{
  border-color: red ;
}

input:valid, textarea:valid{
  border-color: #01fa5c;
}

footer {
  background-color: rgb(37, 37, 37);
  color: rgb(241, 236, 236);
  font-size: 0.7rem;
  width: 100%;
  height: 10vh;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  display: flex;
}

form {
  background-color: #666666c0;
  width: 500px;
  height: 700px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 180px;
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  #header {
    padding: 1rem 1rem;
  }
 
  form {
    background-color: #666666c0;
    width: 300px;
    height: 800px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
